.row {
  max-width: $grid-width;
  background-color: $color-primary-dark;
  margin: 0 auto;
  color: $color-white;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
}
